/ form
%label(for="name")Name: 
%input#name(type="text" name="spacecat[name]" value="#{@spacecat.name}")

%label(for="home planet")Home Planet: 
%input#name(type="text" name="spacecat[homeplanet]" value="#{@spacecat.homeplanet}")

%label(for="tagline") Tagline: 
%input#name(type="text" name="spacecat[tagline]" value="#{@spacecat.tagline}")


%label(for="quantity") Superpower: 
%input#age(type="text" name="spacecat[superpower]" value="#{@spacecat.superpower}")

